p {
    text-align: justify;
    border: solid 2px #ca10c2;
    width: 50%;
    /* margen de: arriba 100, abajo 50, derecha 75, izquierda 25 */
    margin: 100px 0px 50px 25px;
    /* padding es para el margen interior de la etiqueta */
    padding: 50px 25px;
    /* margin y padding pueden recibir 1 parametro para todos los margenes
    2 parametros para arriba/abajo y derecha/izquierda o 4 parametros para cada lado */
}

img {
    display: block;
    margin: 0 auto;
    /* Para alinear la imagen con lo de arriba y lo de abajo */
    border: dashed 2px #ca10c2;
    /* El color se puede introducir como nombre ingles o con el codigo rbg */
    padding: 4px;
    background: orange;
}

h1 {
    text-align:center; border: solid 2px #ca10c2;
}