/* El word pone que hay que seguir las instruciones comentadas, pero no hay instrucciones comentadas :( */

body{
	font-size: 65%;
}
h1{
	font:normal 2.4em Verdana;
	margin: 20px auto;
	width: 40%;
	text-align: center;
	color: #FFF;
	text-shadow:#000 6px 2px 3px;
	background:-moz-linear-gradient(top,#00f,#0cf);
	background:-webkit-linear-gradient(top,#00f,#0cf);
	background:-ms-linear-gradient(top,#00f,#0cf);
	background:-o-linear-gradient(top,#00f,#0cf);
	border-radius: 15px;
	box-shadow: #00f 8px 2px 3px;

}
#imgo:hover{
	filter: opacity(1);
	
}
#imgo{
filter: opacity(0);
}

.foto{
float: left;
}

h2{
	font:bold 1.5em Courier;
	margin-top:15px;
	color: #555;
}
img{
	width: 275px;
	height: 183px;
	padding: 4px;
	background: #123;
	margin: 5px;
	border-radius: 15px;
}

#galeria{
	display: block;
	margin: 0 auto;
	border: dashed lightgrey;
	width:90%;
	height:250px;
	
}



.foto p{
	font-family: lucida console;
	font-size: 0.9em;
	text-align: center;
}

#imgn:hover{
	-o-transform: scale(0.9,0.9);
	-ms-transform: scale(0.9,0.9);
	-moz-transform: scale(0.9,0.9);
	-webkit-transform: scale(0.9,0.9);
}

